.col {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 4px 20px;
    border: 1px solid #fafafa66;
    color:  #fafafa66;
    border-radius: 50vh;
    background-color: #111;
}
.btn:hover {
    border: 1px solid #fafafa88;
    color:  #fafafa88;
    background-color: #fafafa11;
}